# Dependencies
node_modules/
.pnp/
.pnp.js

# Testing
coverage/

# Production
build/
dist/
out/
.next/
.nuxt/
.cache/

# Misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Mobile specific
mobile/ios/Pods/
mobile/android/.gradle/
mobile/android/build/
mobile/android/app/build/
mobile/ios/build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Web specific
web/.next/
web/out/

# IDE specific
.idea/
.vscode/
*.swp
*.swo
